* {
  margin: 0px;
  padding: 0px; }

@media (max-width: 768px) {
  header, main, footer {
    font-size: small; } }

body {
  font-family: "Merriweather", serif;
  margin: 5px; }

header {
  background-color: #e6e6fa; }

nav ul li a {
  text-decoration: none; }

nav ul li a:hover {
  background-color: #e6e6fa; }

div a {
  text-decoration: none;
  color: #000000; }

div a:hover {
  color: #000000; }

.fondo {
  background-color: #d8bfd8; }

/* Main Index */
article.article1:hover, article.article2:hover {
  transform: scale(1.01); }

.fontDestacados {
  font-size: large;
  font-weight: bold; }

/* Main Login */
.bgMain {
  background-color: #FFCCBC; }

.fontFormulario {
  font-size: x-large; }

/* Main Secciones*/
.padding {
  padding-left: 0px;
  padding-right: 0px; }

.fontMenuLateral {
  font-size: medium; }

footer section {
  border-radius: 5px;
  background-color: #FFCCBC;
  border: 2px solid #cacaca; }

footer {
  background-image: linear-gradient(#e6e6fa, #bdbdbd); }
