/* Main Index */
article {
    .article1:hover, .article2:hover {
        transform: scale(1.01);
    }
}

.fontDestacados {
    @include fontsize(large);
    font-weight: bold;
}

/* Main Login */
.bgMain {
    background-color: $fondoSuscripcionLogin;
}

.fontFormulario {
    @include fontsize(x-large);
}

/* Main Secciones*/
.padding {
    padding-left: 0px;
    padding-right: 0px;
}

.fontMenuLateral {
    @include fontsize(medium);
}